#header{
    text-align: center;
    color: floralwhite;
    font-family: 'Times New Roman', Times, serif;
    font-size: 200%;
}
#footer{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 200%;
}
#viewer{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 150%;
}